@charset "utf-8";
html {
    font-family: '游明朝';
}

h1 {
    font-size: 2em;
    background: linear-gradient(white,rgb(7, 148, 236));
    /* border-radius: 8px; */
    
    text-align: center;
}

h2 {
    text-indent: 0.5em;
    background: linear-gradient(white,skyblue,blue);
    border-radius: 8px;
}

h3 {
    font-size: 1.5em;
    text-indent: 0.5em;
}

p {
    text-indent: 1em;
    font-size: 2em;
}

ins {
    color: red;
}



p::first-letter {
    font-size: 1em;
}


#a {
    border: 0.5em double;
    border-radius:10px;
}


